
.menu1 {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(250, 247, 240);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
}
.menu1 a{
    color: rgb(207, 148, 76);
    margin-right: 20px;
}
.menu1 button{
    color: rgb(255, 255, 255) ;
    width: 90px;
    height: 40px;
    border-radius: 20%;
    background-color: rgb(151, 116, 70) ;
}
.menu1 h2{
 color:rgb(207, 148, 76) ;
 margin-left: 2%;
}
